body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
.btn{
    background-color: rgb(255, 0, 200);
    padding: 8px 20px;
    display: inline;
}
header{
    background-color: blue;
    color: white;
    padding-left: 50px;
    display: flex;
    padding-bottom: 50px;
}
li{
    display: inline-block;
    padding: 12px;
    font-size: 16px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
.half{
    width: 50%;
    padding: 20px;
}
.login{
    width: 50px;
    background-color: deeppink;
    padding: 5px 20px;
}
#login{
    position: absolute;
    top: 35px;
    right: 80px;
}
.h1{
    font-size: 60px;
    font-weight: 700;
}
.banner{
    width: 80%;
}
#fs{
    font-size: 15px;
    border-radius: 5px;
    padding-right: 50px;
}
.btn:hover{
    background-color: white;
    color: deeppink;
}
nav a:hover{
    color: black;
}
.grid-container{
    display: grid;
    grid-template-columns: 320px 320px 320px;
    justify-content: center;
    padding: 30px;
    grid-gap: 35px;
}
.player-intro img{
    width: 100%;
}
.player-intro{
    padding: 13px;
    box-shadow: rgb(202, 202, 202) 1px 1px 50px;
    box-shadow: rgb(202, 202, 202) -1px -1px 50px;
}
h3{
    font-weight: 1000;
}
h1{
    font-size: 37px;
    font-weight: 900;
}
#half{
    padding: 20px 80px;
    display: flex;
}
.match{
    width: 95%;
    padding: 30px;
}
.login-btn{
    padding: 10px 20px;
    border-radius: 5px;
}
#center{
    justify-content: center;
}
.footer img{
    width: 400px;
}
.footer{
    text-align: center;
    padding-top: 50px;
}
.social{
    display: flex;
}
.social img{
    width: 30px;
    padding: 10px;
}
.social{
    width: 100px;
    height: 50px;
    margin: 0 auto;
}
.log-img{
    width: 20%;
    position: absolute;
    top: 3px;
    padding-left: 5px;
}
.footer p{
    font-size: 15px;
    font-weight: 600;
    margin-left: 100px;
}